*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 35px;
}

ul {
  list-style-type: none;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main-content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "projects announcements"
    "projects trending";
}

.trending {
  grid-area: trending;
}

.announcements {
  grid-area: announcements;
}

.projects {
  grid-area: projects;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 250px;
  gap: 2em;
}

.side-box {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
}

.trend-boxes {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
}

.trend-box {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
}

.margin-top-zero {
  margin-top: 0;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.center {
  justify-self: center; 
}

.columns {
  grid-template-columns: 3fr 1fr;
}